.flex {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 10% 0;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

button {
    font-size: 16px;
    padding: 4px 24px;
}

img {
    max-width: 500px;
}