.flex {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 10% 0;
}

h2 {font-size: 200px; line-height:0%;}


.round1 {
    font-size: 160px;
}

button {
    font-size: 16px;
    padding: 4px 24px;
    width: 25%;
    justify-content: center;
}

img {
    max-width: 500px;
}